{% extends "blog/base.html" %}
{% load staticfiles %}


{% block body %}

<div class="quotes">

</div>

<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <h3 class="text-center mt-3">LETS GET ACQUAINTED</h3><hr>
            </div>
        </div>
    </div>
</div>


    {% block content %}
            <div class="container pt-2 ">
                <h5><small class="text-muted"><em>BARON CHIBUIKEM UCHE(<strong>Python Programmer/Django framework</strong>)</em></small></h5>
                       <div class="row">
                           <div class="col-md-6 ">
                                <p class="lead text-justify">Baron the founder  of iTech earned his Geology Bachelor degree at Federal University of Technology Owerri,
                                    because of his love for rendering solutions to everyday organization challenges, he followed his passion and developed himself as a <strong>Python Programmer//Django Framework</strong>.
                                    He is also skilled in <b>content management</b> and <b>Digital Marketing</b>
                                    He's passionate about empowering young people with tech skills that will make the productive and profitable to any organization the find themselves.</p>
                           </div>

                           <div class="col-md-4 pl-5">
                               <img src="{% static 'portfolio/images/uc.jpg' %}" width="100%" height="90%" class=" rounded float-right" />

                           </div>
                       </div>
            </div>




<!-- Section Services
================================================== -->
<section id="services">
<div class="container">
<div class="row">
	<div class="col-lg-12 text-center">
		<h2 class="section-heading">OUR <b>SERVICES</b></h2>
		<hr/>
	</div>
</div>
</div>
<div class="container">
<div class="row">
	<!-- begin 1st row -->
	<div class="col-md-12">
        <p>WEB DEVELOPMENT</p>
        <p> <img src="{% static 'portfolio/images/weblogo.jpg' %}" width="10%" height="20%" class="rounded-circle " /></p>
    </div>
    <p>We </p>
	<div class="col-lg-4 col-md-6 text-center">
		<div class="service-box">
			<div class="iconbox bg-dark">
				<i class="fa fa-2x fa-cloud wow bounceIn text-fade" data-wow-delay=".1s"></i>
			</div>
			<h5>GRAPHICS DESIGN</h5>
			<p class="text-muted">
				 Duis at risus dignissim, mollis augue quis, congue leo. Curabitur sed lacus ut lectus pharetra malesuada et sit amet ligula.
			</p>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 text-center">
		<div class="service-box">
			<div class="iconbox bg-primary">
				<i class="fa fa-2x fa-newspaper-o wow bounceIn text-fade" data-wow-delay=".2s"></i>
			</div>
			<h5>SITE MAINTENANCE</h5>
			<p class="text-muted">
				 Duis at risus dignissim, mollis augue quis, congue leo. Curabitur sed lacus ut lectus pharetra malesuada et sit amet ligula.
			</p>
		</div>
	</div>
</div>
<!-- end 1st row -->
<br/>
<div class="row">
	<!-- begin 2nd row -->
	<div class="col-lg-4 col-md-6 text-center">
		<div class="service-box">
			<div class="iconbox bg-dark">
				<i class="fa fa-2x fa-yelp wow bounceIn text-fade"></i>
			</div>
			<h5>PROGRAMMING MENTORSHIP</h5>
			<p class="text-muted">
				 Duis at risus dignissim, mollis augue quis, congue leo. Curabitur sed lacus ut lectus pharetra malesuada et sit amet ligula.
			</p>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 text-center">
		<div class="service-box">
			<div class="iconbox bg-primary">
				<i class="fa fa-2x fa-wordpress wow bounceIn text-fade" data-wow-delay=".1s"></i>
			</div>
			<h5>DIGITAL MARKETING</h5>
			<p class="text-muted">
				 Duis at risus dignissim, mollis augue quis, congue leo. Curabitur sed lacus ut lectus pharetra malesuada et sit amet ligula.
			</p>
		</div>
	</div>
	<div class="col-lg-4 col-md-6 text-center">
		<div class="service-box">
			<div class="iconbox bg-dark">
				<i class="fa fa-2x fa-desktop wow bounceIn text-fade" data-wow-delay=".2s"></i>
			</div>
			<h5>CONTENT MANAGEMENT</h5>
			<p class="text-muted">
				 Duis at risus dignissim, mollis augue quis, congue leo. Curabitur sed lacus ut lectus pharetra malesuada et sit amet ligula.
			</p>
		</div>
	</div>
</div>
<!-- end 2nd row -->
</div>
</section>
<div class="clearfix">
</div>




                <div class="container">
                    <h3 class="display-5 text-center "><em>MY SKILLS</em></h3><hr/>
                </div>
                        <div class="container-fluid bg-light">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="skill">
                                             hi, my skills includeLorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                            esse cillum dolore eu fugiat. cillum dolore eu fugiat nulla pariatur. olore magna
                                            aliqua. Ut enim ad minim veniam, quis noss nisi ut aliquip ex ea commodo consequat.
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="progress">
                                             <div class="progress-bar bg-info" style="width:90%">Python</div>
                                        </div><br>
                                        <div class="progress">
                                             <div class="progress-bar bg-info" style="width:90%">Django</div>
                                        </div><br>
                                        <div class="progress">
                                          <div class="progress-bar bg-info" style="width:90%">Bootstrapp</div>
                                        </div><br>
                                        <div class="progress">
                                          <div class="progress-bar bg-info" style="width:90%">Html</div>
                                        </div><br>
                                        <div class="progress">
                                          <div class="progress-bar bg-info" style="width:70%">CSS</div>
                                        </div><br>
                                        <div class="progress">
                                          <div class="progress-bar bg-info" style="width:70%">Digital Marketing</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





    {% endblock %}
{% block sidebar %}
{% endblock %}
{% endblock %}

